<section class="gatecam">
  <div class="container">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/EnehzBNvKaY" frameborder="0"
      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <p>Please consider donating <a href="https://www.gofundme.com/f/uwu-tattoo-for-the-fallen-weebs">to this amazing cause</a>.</p>
    <p>Usage instruction:
      <ol>
        <li>Set playback volume relatively high;</li>
        <li>Whenever you hear Gate being activated, Alt-Tab/Switch Tabs to and see who's in or out; <small>due to
            security issues good standing pilots are not bracketed / visible in overview;</small></li>
        <li>If you notice a Neutral / Bad standings pilot, call it out in Intel / Fleet channels and take appropriate
          precausions;</li>
      </ol>
    </p>
    <p>This should GREATLY increase your 🦀🦀🦀 safety during Blackout.</p>
    <p>Fly safe 7o</p>
  </div>
</section>